<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>分类管理</title>
</head>
<body>
    <nav th:replace="admin/_fragments::menu(2)">
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/input}"  class="item">发布</a>
                <a href="#" th:href="@{/admin/types}" class="teal active item">列表</a>
            </div>
        </div>
    </div>
    <div class="m-container m-padded-tb-big">
        <div class="ui container">

            <table class="ui teal table">
                <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="type,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${type.name}">刻意练习清单</td>
                        <td>
                            <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini basic teal button">编辑</a>
                            <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini basic red button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6" >
                            <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                                <a th:href="@{/admin/types(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                            </div>
                            <a href="#" th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>

                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <footer th:replace="admin/_fragments::footer">
    </footer>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on:'hover'
    })
</script>
</body>
</html>