<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <title>关于我</title>
</head>
<body>
<nav th:replace="_fragments::menu(4)">
</nav>
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui image rounded">
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui  attached segment">
                        <p class="m-text">Jack，一个JAVA小白，一个编程爱好者。一个跨性别者。。。。。<i class="transgender big icon"></i></p>
                        <p class="m-text">喜欢编程，喜欢动漫，喜欢音乐。</p>
                        <p class="m-text">希望结识志趣相投的小伙伴(#^.^#)。</p>
                    </div>
                    <div class="ui  attached segment">
                        <div class="ui basic orange left pointing label">编程</div>
                        <div class="ui basic orange left pointing label">思考</div>
                        <div class="ui basic orange left pointing label">看电影</div>
                        <div class="ui basic orange left pointing label">玩游戏</div>
                    </div>
                    <div class="ui  attached segment">
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">Java</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">Spring</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">JS</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">Vue</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">Jquery</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">MySQL</div>
                        <div class="ui basic teal left pointing label m-margin-tb-tiny">...</div>
                    </div>
                    <div class="ui bottom  attached segment">
                        <a href="https://github.com/q542282595" target="_blank" class="ui circular icon button" ><i class="github icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="542282595" data-position="bottom center"><i class="qq icon"></i></a>


                    </div>
                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="./static/image/wechat.jpg" th:src="@{/image/wechat.jpg}" alt="" class="ui rounded image" style="width: 100px;">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<footer th:replace="_fragments::footer">
</footer>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass("m-mobile-hide");
    });
    $('.qq').popup();
    $('.wechat').popup({
        popup:$('.wechat-qr.popup'),
        position:'bottom center'
    })

</script>
</body>
</html>