<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <title>博客</title>
</head>
<body>
<nav th:replace="_fragments::menu(1)">
</nav>
    <div id="waypoint" class="m-container m-padded-tb-big">
        <div class="ui container animated bounceInLeft">
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Jack</a></div>
                    </div>
                    <div class="item">
                       <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
               <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
            </div>
            <div class="ui attached segment">
              <div class="ui right aligned basic segment">
                  <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
              </div>
              <div id="content" th:utext="${blog.content}" class="typo typo-selection m-padded-lr-responsive js-toc-content  m-padded-large">
              </div><br>
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal left pointing label" th:each="tag:${blog.tags}" th:text="${tag.name}">
                    方法论
                </div>
            </div>
                <div th:if="${blog.appreciation}">
                    <div class="ui center aligned basic segment">
                        <button id="payButton" class="ui orange basic circular button">赞赏</button>
                    </div>
                    <div class="ui payQR flowing popup  transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images"  style="font-size: inherit !important;">
                                <div class="image">
                                    <img src="./static/image/wechat.jpg" alt="" th:src="@{/image/wechat.jpg}" class="ui rounded bordered image" style="width: 120px;">
                                    <div>支付宝</div>
                                </div>

                                <div class="image">
                                    <img src="./static/image/wechat.jpg" th:src="@{/image/wechat.jpg}" alt="" class="ui rounded bordered image" style="width: 120px;">
                                    <div>微信</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div th:if="${blog.shareStatement}" class="ui attached positive message">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：<span th:text="${blog.user.nickname}">Jack</span> <a href="" th:href="@{/about}" target="_blank"></a>（联系作者）</li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-03-21 16:19</span></li>
                            <li>版权声明：自由转载-非商用-非衍生-保持署名</li>
                            <li>公众号转载：请在文末添加作者公众号二维码</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="./static/image/wechat.jpg" class="ui rounded bordered right floated image" alt="" style="width: 120px;">
                    </div>
                </div>
             </div>
             <div th:if="${blog.commentabled}"  class="ui bottom attached segment">
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui comments" style="max-width: 100%">
                            <h3 class="ui dividing header">评论区</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img th:src="@{${comment.avatar}}" src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author" th:text="${comment.nickname}">Matt</a>
                                    <div class="ui basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">太赞了！ </div>
                                    <div class="actions">
                                        <a class="reply"  data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}"  onclick="reply(this)">回复</a>
                                    </div>
                                </div>
                                <div class="comments" th:if="${#arrays.length(comment.replyComment)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComment}">
                                        <a class="avatar">
                                            <img th:src="@{${reply.avatar}}" src="https://unsplash.it/100/100?image=1005">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span th:text="${reply.nickname}"></span>
                                                <div class="ui basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>

                                                &nbsp;<span  th:text="|@ ${reply.parentComment.nickname}|" style="color: #00B5AD">小白</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">太赞了！ </div>
                                            <div class="actions">
                                                <a class="reply"  data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}"  onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
                <div class="ui form" id="comment-form">
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" th:value="${session.user}!=null ? ${session.user.nickname}" placeholder="姓名">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="maill icon"></i>
                                <input type="text" name="email" th:value="${session.user}!=null ? ${session.user.email}" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field m-mobile-wide right floated m-margin-bottom-small">
                        <button id="commentpost-btn" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
    <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none;">
        <div class="ui vertical icon buttons">
            <button class="ui teal toc button">目录</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <button class="ui wechat icon button"><i class="weixin icon"></i></button>
            <a href="#" class="ui icon button"><i class="chevron up icon"></i></a>
        </div>
    </div>
    <div class="ui toc-container flowing popup  transition hidden" style="width:250px !important">
          <ol class="js-toc"></ol>
    </div>
    <div id="qrcode" class="ui wechat-qr flowing popup transition hidden">
      
    </div>
<footer th:replace="_fragments::footer">
</footer>
<script th:inline="javascript">
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass("m-mobile-hide");
    });
    $('#payButton').popup(
      {
          popup:$('.payQR.popup'),
          on:'click',
          position:'bottom center'
      }
    );
    $('#toTop-button').click(function() {
        $(window).scrollTo(0,800);
    });
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [
                    {
                        type: 'empty',
                        prompt: '请输入内容'
                    }
                ]
            },
            nickname: {
                identifier: 'nickname',
                rules: [
                    {
                        type: 'empty',
                        prompt: '请输入昵称'
                    }
                ]
            }
            ,
            email: {
                identifier: 'email',
                rules: [
                    {
                        type: 'empty',
                        prompt: '请输入邮箱'
                    }
                ]
            }
        }
    }
    );
    var waypoint = new Waypoint({
      element: document.getElementById('waypoint'),
      handler: function(direction) {
        if(direction == 'down') {
            $('#toolbar').show(400);
        } else {
            $('#toolbar').hide(400);
        }
      }
    });

    var url=/*[[@{/blog/{id}(id=${blog.id})}]]*/""
    var serurl="127.0.0.1:8080"
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    $('.toc.button').popup(
      {
          popup:$('.toc-container.popup'),
          on:'click',
          position:'left center'
      }
    );
    $('.wechat').popup(
      {
          popup:$('.wechat-qr.popup'),
          on:'click',
          position:'left center'
      }
    );

    tocbot.init({
      tocSelector: '.js-toc', 
      contentSelector: '.js-toc-content',
      headingSelector: 'h1, h2, h3, h4',
      hasInnerContainers: true
    });
    $(function () {
        $("#comment-container").load(/*[[@{/comments/{blogId}(blogId=${blog.id})}]]*/);
    });
    $('#commentpost-btn').click(function(){
        var boo=$('.ui.form').form('validate form');
        if(boo)
        {
            console.log('校验成功')
            postData()
        }else{
            console.log('校验失败')
        }
    })
    function postData() {
        $('#comment-container').load(/*[[@{/comments}]]*/, {
            "parentComment.id": $("[name='parentComment.id']").val(),
            "blog.id": $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTex, statusTex, xhr) {
            $(window).scrollTo('#comment-container', 500);
            clearContent();
        })
    }
    function clearContent()
    {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr('placeholder','请输入评论信息');
    }
    function reply(obj)
    {
        var commentId=$(obj).data('commentid');
        var commentNickname=$(obj).data('commentnickname');
        $("[name='content']").attr('placeholder','@'+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo('#comment-form',500);
    }
</script>
</body>
</html>